.text-center
  %h2.mb-5 Select your Scorecard
.px-5.row.justify-content-md-center.pb-4
  -User.all.each do |user|
    .col-md-4.mb-3
      .card.p-3.scorecard
        %p=link_to user.name, scorecard_user_path(user)
