.px-5.pb-3.pt-2
  .text-center
    %h1.mb-5="#{@user.name}, be nice... or don't"
  =form_for :scorecard, url: scorecard_user_path(@user) do |f|
    -@user.scores_excluding_me.all.each do |score|
      .row.mb-4.pt-2
        .col-1
        .col-5
          %h3.mb-0=score.performance.title
          %p=score.performance.user.name
        .col-2.text-center.pt-1
          =f.number_field "#{score.id}[song]", value: (score.song || 0), max: 10, min: 0
          %span.label Performance
        .col-2.text-center.pt-1
          =f.number_field "#{score.id}][outfit]", value: (score.outfit || 0), max: 10, min: 0
          %span.label Outfit
        .col-2.text-center.pt-1
          =f.number_field "#{score.id}[backdrop]", value: (score.backdrop || 0), max: 10, min: 0
          %span.label Stage
    .text-center.pt-4
      =f.submit
