@import 'bootstrap/dist/css/bootstrap';
@import "@fortawesome/fontawesome-free/css/all.css";

$blue:        #131337;
$light-blue:  #365cb6;
$red:         #dc3a32;
$green:       #4ca767;
$yellow:      #f4cc55;

body {
  font-family: 'Questrial', sans-serif;
  color: #333;
}

input[type='number'] {
  width: 5em;
  font-size: 1.325em;
  padding: 0.5em;
  font-weight: 100;
  color: $blue;
  text-align: center;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0;
  border: 1px solid $green;
  text-indent: 0.5em;
}

input[type='submit'] {
  background: $green;
  border: 0;
  color: white;
  font-weight: 400;
  padding: 0.5em 1em;
  font-size: 1.3em;
  border-radius: 5px;
}

a {
  color: $green;
}

h1, h2 {
  font-size: 1.6em;
  border-bottom: 3px solid $green;
  padding-bottom: 4px !important;
  display: inline-block;
  font-weight: 100;
}

.bg-blue {
  background: $blue;
  color: white;
  a {
    color: white;
  }
}

.text-weight-light {
  font-weight: 100;
}

.notice {
  text-align: center;
  padding: 0.625em 0;
  font-weight: 600;
  color: white;
  background: $green;
  margin-bottom: 2em;
  border-radius: 10px;
}

#site-header {
  .row {
    margin-left: -2.75em;
    a {
      text-decoration: none;
      padding-bottom: 7px;
      .fa {
        color: $green;
      }
      &:hover, &:active, &:focus {
        border-bottom: 2px solid $green;
        .fa {
          color: $green;
        }
      }
    }
  }
}

.scorecard {
  text-align: center;
  background: no-repeat top center asset_url('heart.png');
  padding: 35% 0 35% !important;
  background-size: contain;
  border: 0 !important;
  p {
    margin-left: -10%;
    padding: 5% 30% 0;
    font-weight: 600;
    font-size: 1.235em;
    a {
      text-decoration: none;
      color: $blue;
      &:hover, &:active, &:focus {
        color: $green;
      }
    }
  }
}

.score_badge {
  border-radius: 100%;
  font-weight: 600;
  background: $green;
  color: white;
  text-align: center;
  width: 3em;
  display: inline-block;
  line-height: 1;
  padding: 1em 0 1em;
  vertical-align: middle;
  font-size: 1.1em;
}

.score-block {
  text-align: left;
}

.score_list {
  list-style: none;
  padding: 0;
  li {
    padding: 0;
    margin: 0 0 0.125em 0;
  }
}

span.label {
  font-size: 0.8em;
  text-align: center;
  font-weight: 100;
}


footer {
  text-align: center;
  min-height: 600px;
  background: no-repeat 100% 100% asset_url('hero.jpg');
}
