%header#site-header.px-5.bg-blue.text-center.py-5.mb-4
  .pt-2
    =link_to root_path do
      =image_tag("crisovision.png", :alt => "Crisovision")
  .row.mt-4.pt-2
    .col-md-6.text-md-right
      %p.pb-0.mb-0.pr-3
        =link_to "https://us02web.zoom.us/j/75149271147", target: "_blank" do
          %em.fa.fa-theater-masks.mr-2
          Perform on Zoom
    .col-md-6.text-md-left
      %p.pb-0.mb-0
        =link_to "https://www.watch2gether.com/rooms/crisovision-vejzzgfaptkvqfctt5", target: "_blank" do
          %em.fa.fa-video.mr-2
          Sync music on Watch2Gether
